html, body 
{ 
 height: 100%;
 overflow-x: hidden
}

.bgestadio{
    background-image: url(../imagenes/estadioFutbol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 80vw;
    
    background-position: center;
    
}

.card-img-top {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.bgbtnverde{
    background-color: rgb(150, 201, 62);
}

